body {
    background-color: grey;
}
#champ-container{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(130deg, #EADEDB 0%, #BC70A4 50%, #BFD641 80%);
}
.champion{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
}
.champ-body{
    width: 100%;
    height: 200px;
    padding: 20px 0px 0px 0px;
    text-align: center;
}
.champ-image{
    height: 120px;
    width: 120px;
    margin-top: 12px;
    border-radius: 10px;
}
.card{
    display: flex;
    width: 170px;
    height: 170px;
    align-items: center;
    align-content: center;
    margin-top: 3em;
    border-radius: 20px;
}
.card-title{
    text-transform: capitalize;
    text-align: center;
}
.card-body{
    width: 170px;
    height: 100px;
    padding: 20px 0px 0px 0px;
    text-align: center;
}
#item-container{
    display: flex;
    justify-content: center;
}
#item{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-card-image{
    display: flex;
    height: 64px;
    width: 64px;
    margin-top: 1.5em;
    border-radius: 10px;
    align-content: center;
}
.champ-name{
    margin-top: 8px;
}

.indiv-champ{
    width: 150px;
    height: 180px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.champ-header{
    display: flex;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
}
.champ-details{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}
.champ-title{
    text-transform: capitalize;
    text-align: center;
    width: 70%;
}

.champ-stats-holder{
    display: flex;
}
.champ-stats{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
}

.champ-info{
    display: flex;
    justify-content: space-around;
    background-color: #815ca0;
    box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
    flex-wrap: wrap;
}
.champ-desc{
    text-align: center;
}

.champ-ability{
    margin-top: 30px;
    width: 90%;
}
.champ-spell{
    margin-bottom: 20px;
}
.ability-header{
    display: flex;
}
.ability-header img{
    height: 64px;
    width: 64px;
    border: 3px solid black;
}
.ability-info{
    height: auto;
    line-height: 0.4;
    margin-left: 10px;
}