body {
    background-color: grey;
}
#champ-container{
    display: flex;
    justify-content: center;
}
.champion{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-around;
}
.champ-body{
    width: 100%;
    height: 200px;
    padding: 20px 0px 0px 0px;
    text-align: center;
}
.champ-image{
    height: 120px;
    width: 120px;
    margin-top: 12px;
    border-radius: 10px;
}
.card{
    display: flex;
    width: 170px;
    height: 170px;
    align-items: center;
    align-content: center;
    margin-top: 3em;
    border-radius: 20px;
}
.card-title{
    text-transform: capitalize;
    text-align: center;
}
.card-body{
    width: 170px;
    height: 100px;
    padding: 20px 0px 0px 0px;
    text-align: center;
}
#item-container{
    display: flex;
    justify-content: center;
}
#item{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-card-image{
    display: flex;
    height: 64px;
    width: 64px;
    margin-top: 1.5em;
    border-radius: 10px;
    align-content: center;
}
.champ-name{
    margin-top: 8px;
}

.indiv-champ{
    width: 150px;
    height: 180px;
    border-radius: 20px;
}

.champ-header{
    display: flex;
    align-items: center;
    width: 40%;
    flex-wrap: wrap;
}
.champ-details{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.champ-title{
    text-transform: capitalize;
    text-align: center;
    width: 70%;
}

.champ-stats{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-around;
}

.champ-info{
    display: flex;
    justify-content: space-between;
    height: 400px;
}