body {
    background-color: grey;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    display: flex;
    width: 400px;
    height: 450px;
    align-items: center;
    align-content: center;
    margin-top: 3em;
    border-radius: 20px;
}
.card-title{
    text-transform: capitalize;
    text-align: center;
}
.card-image{
    display: flex;
    height: 200px;
    width: 350px;
    margin-top: 1.5em;
    border-radius: 10px;
}
.card-body{
    width: 350px;
    height: 250px;
    padding: 20px 0px 0px 0px;
    text-align: center;
}