body {
    user-select: none;
    background-image: linear-gradient(130deg, #EADEDB 0%, #BC70A4 50%, #BFD641 80%);
}
#champ-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
}
.champion-header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.champion{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
}
.champ-body{
    width: 100%;
    height: 200px;
    padding: 20px 0px 0px 0px;
    text-align: center;
}
.champ-image{
    height: 120px;
    width: 120px;
    margin-top: 12px;
    border-radius: 10px;
}
.card{
    display: flex;
    width: 140px;
    height: 140px;
    align-items: center;
    align-content: center;
    margin-top: 1em;
    border-radius: 20px;
    box-shadow: 2px 0px 2px 1px #000000, -2px 0px 2px 1px #000000;
}
.card-title{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    text-align: center;
}
.card-body{
    text-align: center;
    padding: 10px 5px 0px 5px;
}
#item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
}
#item{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}
.item-header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.search-bar{
    display: flex;
    justify-content: center;
    width: 100%;
}
#itemsearch, #champsearch{
    width: 50%;
    border-style: none;
    background-color: unset;
    border-bottom-style: groove;
    border-bottom-color: #000000;
}
#itemsearch:focus, #champsearch:focus{
    outline: none;
}

.item-card-image{
    display: flex;
    height: 64px;
    width: 64px;
    margin-top: 1em;
    border-radius: 10px;
    border: 3px solid black;
    align-content: center;
}
.champ-name{
    margin-top: 8px;
}

.indiv-champ{
    width: 150px;
    height: 180px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 0px 1px 1px #000000, -1px 0px 1px 1px #000000;
}

.champ-header{
    display: flex;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
}
.champ-details{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}
.champ-title{
    text-transform: capitalize;
    text-align: center;
    width: 70%;
}
.champ-lore{
    display: flex;
    width: 100%;
    justify-content: center;
}

.champ-stats-holder{
    display: flex;
}
.champ-stats-header{
    display: flex;
    justify-content: center;
}
.champ-stats{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
}

.champ-info{
    display: flex;
    justify-content: space-around;
    background-color: #d69ac3;
    box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
    flex-wrap: wrap;
}
.champ-desc{
    text-align: center;
}

.champ-ability{
    margin-top: 30px;
    width: 90%;
}
.champ-ability-header{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.champ-spell{
    margin-bottom: 20px;
}
.ability-header{
    display: flex;
    flex-wrap: wrap;
}
.ability-header img{
    height: 64px;
    width: 64px;
    border: 3px solid black;
}
.ability-info{
    height: auto;
    line-height: 0.4;
    margin-left: 10px;
}
.modal-header img{
    height: 64px;
    width: 64px;
    border: 3px solid black;
}
.modal-title{
    margin-left: 10px;
}
.modal-header{
    display: flex;
    justify-content: unset;
    flex-wrap: wrap;
}
.home-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.home-body{
    width: 70%;
}
.home-header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.home-desc{
    text-align: center;
    background-color: #d69ac3;
    box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
    border-radius: 20px;
    padding: 20px 50px 20px 50px;
}
.home-desc img{
    max-width: 50%;
    max-height: 50%;
    padding-top: 10px;
    padding-bottom: 30px;
}
.about-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.about-body{
    width: 70%;
}
.about-header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.about-desc{
    text-align: center;
    background-color: #d69ac3;
    box-shadow: 2px 0px 10px 1px #000000, -2px 0px 10px 1px #000000;
    border-radius: 20px;
    padding: 20px 50px 20px 50px;
}
.about-desc img{
    max-height: 100%;
    max-width: 45%;
    padding-top: 10px;
    padding-bottom: 30px;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #000000;
}
.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-content img {
    max-width: 20%;
    max-height: 20%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer-content p {
	color: #EAE5E4;
}